body {
    background-color: hwb(166 61% 2%);
    font-size: 16px;
}

h1 {  
    font-size: 50px;  
    color: rgb(168, 156, 177);
    }

.encabezado {  
    text-align: center;  
    text-transform: uppercase;  
    font-weight: bold;  
    font-size: 42px;
    }

.parrafo {  
    text-align: justify;  
    text-transform: capitalize;  
    font-size: 24px;
    }

#fondo {  
    background-color: #418151; /* modificar el color a elección */
    }

p a {  
    color: #333;  
    text-decoration: none;
    }